//colors
$white: white;
$color_matisse_approx: #126495;
$mercury: #e5e5e5;
$black: black;

//urls
$url_0: url(labkey-logo.png);

body {
	background-color: $white;
}
h1 {
	margin-left: -20px;
	font: sans-serif;
	color: $color_matisse_approx;
	text-align: left;
	padding-left: 10px;
	padding-top: 120px;
	padding-bottom: 20px;
	font-weight: normal;
	border-top-style: solid;
	border-top-width: 40px;
	border-top-color: $color_matisse_approx;
	background-color: $mercury;
	background-image: $url_0;
	background-repeat: no-repeat;
}
h2 {
	margin-left: -10px;
	text-align: left;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	font: sans-serif;
	font-size: 16px;
	font-weight: bold;
}
p {
	font: sans-serif;
	font-size: 14px;
	color: $black;
}